<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee     http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>GestorWeb</display-name>
	<!-- Configuração do Spring Security -->
	<!-- <context-param> <param-name>contextConfigLocation</param-name> <param-value>/WEB-INF/application-context.xml 
		/WEB-INF/applicationContext-security.xml</param-value> </context-param> <context-param> 
		<param-name>facelets.REFRESH_PERIOD</param-name> <param-value>2</param-value> 
		</context-param> <context-param> <param-name>javax.faces.DEFAULT_SUFFIX</param-name> 
		<param-value>.xhtml</param-value> </context-param> <filter> <filter-name>springSecurityFilterChain</filter-name> 
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> 
		</filter> <filter-mapping> <filter-name>springSecurityFilterChain</filter-name> 
		<url-pattern>/*</url-pattern> <dispatcher>FORWARD</dispatcher> <dispatcher>REQUEST</dispatcher> 
		</filter-mapping> <listener> <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> 
		</listener> <listener> <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class> 
		</listener> -->
	<!-- Fim Spring Security -->
	
	<servlet>
		<servlet-name>jsf</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jsf</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/financeiro/conta.xhtml</welcome-file>
	</welcome-file-list>
</web-app>
